:root {
  --input-color-bg: rgb(243, 244, 246);
}

.experience {
  border-radius: 10px;
  padding: 1rem;
  background-color: white;
  margin-bottom: 3vh;
}

.experience-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding-bottom: 0.5rem;
}

.experience-header-form-text {
  font-size: 1.5rem;
}

.experience-header h1 {
  display: flex;
  align-items: center;
  margin: 0;
}

.toggle-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s;
  margin-left: auto;
}

.rotate {
  transform: rotate(180deg);
}

.experience-details-form-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out;
}

.experience-details-form-container.visible {
  padding-top: 1rem;
}

.experience-details-form-container.hidden {
  padding-top: 0;
}

.experience-details-form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.experience-details-form label {
  font-size: 1.5rem;
  font-weight: bold;
}

.experience-details-form input,
.job-description-box {
  border-radius: 15px;
  height: 4vh;
  width: 25vw;
  background-color: var(--input-color-bg);
  border: 2px solid transparent;
  transition: border-color 0.5s;
}

.experience-details-form input:focus,
.job-description-box:focus {
  border-color: blue;
  outline: none;
}

.job-description-box {
  height: 12vh;
  font-size: 0.95rem;
  line-height: 1.5;
  padding: 10px;
}

@media (max-width: 1799px) and (min-width: 900px) {
  .experience-header-form-text {
    font-size: 1.25rem;
  }
  .experience-details-form label {
    font-size: 1rem;
    font-weight: bold;
  }
}
